[submodule "nixpkgs/nixpkgs-stackage"]
	path = nixpkgs/nixpkgs-stackage
	url = https://github.com/typeable/nixpkgs-stackage
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "nixpkgs/metapkgs"]
	path = nixpkgs/metapkgs
	url = https://github.com/matthewbauer/metapkgs.git
