Host dasan
    HostName dasan.jhhuh-korea.gmail.com.beta.tailscale.net
    Port 22
    User jhhuh
Host dasan-asgard
    HostName dasan.asgard-labs.com
    Port 2002
    User jhhuh
Host vpn-tokyo
    HostName 13.230.4.40
    User root
Host debian-x230 
    HostName 192.168.25.18
    User jhhuh
Host cantos.local
    HostName cantos.local
    Port 2223
    User jhhuh
Host jhnote
    HostName 51.15.69.222
    User jhhuh
Host deephy
    HostName 216.218.134.74
    Port 22221
    User jhhuh
Host minji
    HostName minji
    Port 22
    User tominji
Host aws
    HostName 52.78.113.48
    Port 22
    User ubuntu
Host genis
    HostName genis.sphericalcow.company
    Port 2222
    User jhhuh
Host cantos
    HostName cantos.sphericalcow.company
    Port 2223
    User jhhuh
Host lxplus
    HostName lxplus.cern.ch
    PubkeyAuthentication no
    PasswordAuthentication yes
    Port 22
    User jhuh
Host lxpluspub
    HostName lxplus.cern.ch
    ForwardAgent yes
    Port 22
    User jhuh
Host office
    Hostname macth68.cern.ch
    ForwardAgent yes
    Port 22
    User jhuh
Host *+*
  ProxyCommand ssh $(echo %h | sed 's/+[^+]*$//;s/\([^+%%]*\)%%\([^+]*\)$/\2 -l \1/;s/:/ -p /') exec nc -w1 $(echo %h | sed 's/^.*+//;/:/!s/$/ %p/;s/:/ /')
Host bitnote
    Hostname bitbucket.org
    IdentityFile ~/.ssh/id_rsa_jhnote
    IdentitiesOnly yes
Host hidden-home
    Hostname y7tmtj6y62f6x2ox.onion
    proxyCommand ncat --proxy 127.0.0.1:9050 --proxy-type socks5 %h %p
Host hidden-mbp
    Hostname cul25xl4jzap24ou.onion
    proxyCommand ncat --proxy 127.0.0.1:9050 --proxy-type socks5 %h %p
Host hidden-office
    Hostname zz6wmnzq7h6y5vdb.onion
    proxyCommand ncat --proxy 127.0.0.1:9050 --proxy-type socks5 %h %p
    User jhuh

Host hashbang
  HostName ny1.hashbang.sh
  IdentitiesOnly yes
  User jhhuh
  IdentityFile /home/jhhuh/.ssh/id_rsa
AddKeysToAgent  yes
